//общие стили сюда
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

$FontTitle: "Noto Sans Display", sans-serif;
$FontText: "Montserrat", sans-serif;

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.woff') format('woff');
}

@font-face {
    font-family: 'FiraSans';
    src: url('/assets/fonts/FiraSans-Regular.woff') format('woff'),
    url('/assets/fonts/FiraSans-Regular.woff2') format('woff2');
}

$Yellow : rgba(255, 189, 78, 1);
$Background:rgba(41, 52, 62, 1);
$Gray: rgba(255, 255, 255, 0.3);
$LightGray: rgba(126, 126, 126, 1);



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


