@import './template.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@font-face {
    font-family: Mark, sans-serif;;
    src: url(/assets/fonts/tour-page/Marck_Script/);
    font-style: normal;
    font-weight: 400;
}

.header {
    background: transparent;
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    .header-wrapper {
        display: flex;
        padding-top: 30px;
        padding-left: 4.9vw;
        padding-right: 4.5vw;
        @media  #{$Mobile-max} {
            justify-content: space-between;
        }

        .header-icon {
            flex-basis: 40%;
        }

    .list {
        flex-grow: 1;
        @media  #{$Mobile-max} {
        display: none;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$Tablet} {
                display: none;
            }

            .link {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.burger-menu {
    display: none;
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 5%;
    @media #{$Tablet} {
        display: block;
    }

    .gamb__icon{
        width: 40px;
        cursor: pointer;
    }

        .nav-wrapper {
            display: none;

            .menu-nav {
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 1;
                right: -35px;
                width: 300px;
                height: fit-content;
                background-color: $Background;

                .menu-cross {
                    display: flex;
                    justify-content: flex-end;
                    padding: 20px 30px 10px 0px;
                    font-size: 30px;
                    color: $Yellow;
                    cursor: pointer;
                }

                .menu-link {
                    margin-bottom: 30px;
                    padding-left: 30px;
                    text-decoration: none;
                    font-family: $FontText;
                    color: $burger-menu-color;
                }

                .menu-link:hover {
                    color: $Yellow;


                }

                //линия
                .line {
                    border: 1px solid $Yellow;
                    width: 95%;
                    opacity: 0.5;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }

                .menu-link:first-child {
                    padding-top: 20px;
                }
            }
        }

    }

}

.main {
position: relative;
z-index: 0;
background-color: rgb(43, 52, 61);
font-family: $FontTitle;
color: #FFFFFF;

    .screensaver {
    background-image: url(/assets/images/tour-pages/screensaver.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .screensaver__text-wrapper {
        align-items: flex-start;
        padding-left: 16vw;
        padding-top: 50vh;

        .screensaver__header {
            color: white;
            font-family: $FontTitle;
            font-size: 6rem;
            font-weight: 700;
            @media  #{$Mobile-max} {
            font-size: 3rem;
            }
            @media #{$Mobile} {
            font-size: 3rem;
            }
        }

        .screensaver__text {
            color: #FFBD4E;
            font-weight: 400;
            font-size: 3rem;
            font-family: "Mark", sans-serif;
        }
    }
    .screensaver__img-wrapper {
        width: 1082px;
        height: 249px;
        padding-left: 288px;
    }
}
.offer {
    height: 100vh;
    background-image: linear-gradient(180deg, rgb(43, 52, 61) 0%, rgba(43, 52, 61, 0) 100%), url(/assets/images/tour-pages/screensaver.png);
    background-repeat: no-repeat;
    background-size: cover;

    .offer__reservation {
        height: 20vh;
        width: 100%;
        background-color:  rgba(128, 128, 128, 0.2);

        .offer__reservation-text {
            display: flex;
            padding-left: 20vw;
            padding-top: 3vh;

            .offer__reservation-text-main {
                font-size: 1.5rem;
            }

            .offer__reservation-text-lil {
                font-size: 0.8rem;
                padding-left: 8vw;
                padding-top: 1%;
                color: $Gray;
            }
        }

        .offer__reservation-inputs {
            display: flex;
            padding-left: 8vw;
            padding-top: 2vh;

            .offer__reservation-input {
                border-radius: 20px;
                background-color: #FFFFFF;
                width: 20vw;
                height: 4vh;
                padding-left: 5vw;
                padding-right: 5vw;
                font-size: 0.8rem;
            }

            .offer__reservation-button {
                background-color: #FFBD4E;
                border-radius: 20px;
                width: 20vw;
            }
        }
    }

    .offer__text-wrapper {
        height: 50vh;
        padding-top: 5vh;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-family: $FontTitle;
        color: white;

        .offer__text-main {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 3.5rem;
            @media  #{$Mobile-max} {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 2rem;
            }
            @media #{$Mobile} {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 2rem;
            }
        }

        .offer__text-little {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.4rem;
            padding-top: 3%;
            padding-left: 15%;
            padding-right: 15%;

        }
    }
    .offer_circles {
        padding-left: 25%;
        width: 50%;
        display: flex;

        .offer_circle {
            border-radius: 50%;
            border: 3px solid #FFBD4E;
            width: 17vw;
            height: 28vh;
            position: absolute;
            text-align: center;
            @media  #{$Mobile-max} {
                display: none;
                }
                @media #{$Tablet} {
                display: none;
                }
                @media #{$Mobile} {
                display: none;
                }


            .offer_circle-img1 {
                width: 4vw;
                height: 8vh;
                padding-left: 7%;
                padding-top: 13%;
                @media  #{$Mobile-max} {
                display: none;
                }
                @media #{$Tablet} {
                display: none;
                }
                @media #{$Mobile} {
                display: none;
                }
            }

            .offer_circle-img2 {
                width: 5vw;
                height: 9vh;
                padding-left: 6%;
                padding-top: 13%;
                @media  #{$Mobile-max} {
                    display: none;
                    }
                    @media #{$Tablet} {
                    display: none;
                    }
                    @media #{$Mobile} {
                    display: none;
                    }
            }

            .offer_circle-img3 {
                width: 4vw;
                height: 8vh;
                padding-left: 5%;
                padding-top: 13%;
                @media  #{$Mobile-max} {
                display: none;
                }
                @media #{$Tablet} {
                display: none;
                }
                @media #{$Mobile} {
                display: none;
                }
            }

            .offer_circle-text {
                font-size: 1.5rem;
                color: #FFBD4E;
                padding-top: 5%;
            }

            .offer_circle-text2 {
                font-size: 1.5rem;
                padding-top: 10%;
                padding-left: 14%;
            }

            .offer_circle-text3 {
                padding-top: 10%;
                font-size: 2rem;
            }

            .offer_circle-text4 {
                padding-top: 9%;
                padding-left: 10%;
                padding-right: 10%;
                font-size: 1rem;
            }
        }

        .offer_circle:nth-child(1) {
            top: 160vh;
            left: 25vw;
        }

        .offer_circle:nth-child(2) {
            left: 41vw;
            top: 160vh;
        }

        .offer_circle:nth-child(3) {
            left: 57vw;
            top: 160vh;
        }
    }

    .offer__img-wrapper {
        width: 10vw;
        height: 10vh;
        position: absolute;
        left: 47vw;
        padding-top: 25vh;

        .offer__button {
            background: none;
        }
    }
}
.expectation {
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    text-align: left;
    @media  #{$Mobile-max} {
        height: 300vh;
        display: inline;
    }
    @media #{$Mobile} {
        height: 300vh;
        display: inline;
    }

    .expectation__text-wrapper {
        padding-left: 10%;
        padding-top: 5%;

        .expectation__header {
            font-family: "Mark", sans-serif;
            font-size: 4rem;
        }

        .expectation__text {
            width: 45vw;
            font-size: 1.6rem;
            font-weight: 400;
            border-bottom: 3px solid #FFBD4E;
            padding-bottom: 1vh;
            padding-top: 3%;
        }

        .expectation__lil-text {
            padding-top: 5%;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 200;
            padding-bottom: 5%;
            
            .expectation__ul {
                list-style-image: url('/assets/images/tour-pages/pup.png');
                font-size: 1rem;
                line-height: 2.5;
                padding-top: 10%;
                width: 28vw;
                padding: 0;
                margin: 0;
                list-style-type: none;
                padding-left: 1.5vw;
                @media  #{$Mobile-max} {
                    width: 80vw;
                }
                @media #{$Mobile} {
                    width: 80vw;
                }
            }

            .expectation__ul li {
                margin-bottom: 10px;
                line-height: 1;
            }
        }

        .expectation__end-text {
            color: #FFBD4E;
            font-size: 1rem;
            line-height: 22.4px;
            text-transform: uppercase;
            width: 40vw;
            @media  #{$Mobile-max} {
                padding-left: 20vw;
                width: 90%;
            }
            @media #{$Mobile} {
                padding-left: 20vw;
                width: 90%;
            }
        }
    }

    .expectation__card {
        display: inline;
        padding-top: 10vh;
        padding-left: 10vw;
        @media  #{$Mobile-max} {
            padding-left: 20vw;
        }
        @media #{$Mobile} {
            padding-left: 20vw;
        }

        .expectation__card-line {
            position: absolute;
            left: 64vw;
            @media  #{$Mobile-max} {
                display: none;
            }
            @media #{$Mobile} {
                display: none;
            }
        }

        .expectation__card-img {
            border-radius: 20px;
            @media  #{$Mobile-max} {
                width: 60%;
            }
            @media #{$Tablet} {
                width: 80%;
            }
            @media #{$Mobile} {
                width: 60%;
            }
        }

        .expectation__card-littletext {
            font-size: 0.8rem;
            line-height: 1rem;
            padding-top: 5%;
            @media  #{$Mobile-max} {
                padding-left: 20vw;
            }
            @media #{$Mobile} {
                padding-left: 20vw;
            }
        }

        .expectation__card-name {
            font-size: 1.5rem;
            line-height: 2rem;
            padding-top: 5%;
            @media  #{$Mobile-max} {
                padding-left: 20vw;
            }
            @media #{$Mobile} {
                padding-left: 20vw;
            }
        }

        .expectation__card-text {
            line-height: 1.5rem;
            font-size: 1rem;
            width: 30vw;
            padding-top: 3%;
            @media  #{$Mobile-max} {
                padding-left: 20vw;
                width: 90%;
            }
            @media #{$Mobile} {
                padding-left: 20vw;
                width: 90%;
            }
        }
    }
}

.top {
    height: 80vh;
    color: #FFFFFF;
    display: flex;

    .top__left-block {
        padding-left: 10%;
        width: 40%;

        .top__header {
            font-size: 2rem;
            font-family: "Mark", sans-serif;
            line-height: 3rem;
        }

        .top__list {
            font-size: 1rem;
            font-weight: 200;
            line-height: 1.8rem;
        }
    }
}

.plan-of-day {
    height: 100vh;
    .plan-of-day__text-wrapper {
        height: 40vh;
        padding-left: 5vw;

        .plan-of-day__header {
            color: rgba(255, 255, 255, 0.05);
            font-size: 10rem;
            line-height: 16rem;
            font-weight: 800;
            @media  #{$Mobile-max} {
                font-size: 4rem;
                line-height: 4rem;
            }
            @media #{$Tablet} {
                font-size: 6rem;
            }
            @media #{$Mobile} {
                font-size: 4rem;
                line-height: 4rem;
            }
        }

        .plan-of-day__text {
            position: absolute;
            font-size: 3rem;
            left: 15vw;
        }
    } 

    .plan-of-day__block {
        height: 100vh;
        position: relative;
        .plan-of-day__images {
            padding-top: 10vh;
            width: 100%;
            height: 20vh;
        }

        .plan-of-day__square {
            width: 40vw;
            height: 90vh;
            position: absolute;
            left: 50vw;
            bottom: 10vh;
            background-color: rgb(43, 52, 61, 0.7);
            @media  #{$Mobile-max} {
                width: 80vw;
                left: 10vw;
            }
            @media #{$Mobile} {
                width: 80vw;
                left: 10vw;
            }

            .plan-of-day__inter {
                width: 80%;
                height: 80%;
                margin: 10%;
                border: 3px dotted #FFBD4E;

                .plan-of-day__square-header {
                    font-size: 3rem;
                    text-align: center;
                    padding-top: 3vh;
    
                }
                .plan-of-day__square-date {
                    width: 20vw;
                    padding-left: 3vw;
                    .plan-of-day__square-date-img {
                        width: 10vw;
                    }
                    .plan-of-day__square-text- {
                        font-size: 1rem;
                    }
                }

                .plan-of-day__square-text {
                    font-size: 1rem;
                    line-height: 1.8rem;
                    padding-left: 3vw;
                    padding-right: 3vw;
                    font-weight: 200;
                    @media  #{$Mobile-max} {
                    font-size: 0.9rem;
                    line-height: 1rem;
                    }
                    @media #{$Tablet} {
                    font-size: 0.8rem;
                    }
                    @media #{$Mobile} {
                        font-size: 0.9rem;
                        line-height: 1rem;
                    }
                }

                .plan-of-day__square-list {
                    list-style-image: url('/assets/images/tour-pages/pup.png');
                    font-size: 1rem;
                    line-height: 1rem;
                    padding-left: 4vw;
                }
                .plan-of-day__square-circle {
                    width: 8vw;
                    height: 14vh;
                    font-size: 1rem;
                    border-radius: 50%;
                    background-color: #FFBD4E;
                    margin-left: 30vw;
                    @media  #{$Mobile-max} {
                        display: none;
                    }
                    @media #{$Tablet} {
                    display: none;
                    }
                    @media #{$Mobile} {
                        display: none;
                    }

                    .plan-of-day__square-circle-text {
                        padding-left: 2.5vw;
                        padding-top: 1vh;
                    }
                    .plan-of-day__square-circle-number {
                        font-weight: 700;
                        font-size: 5rem;
                        padding-left: 1.5vw;
                        padding-top: 1vh;
                    }
                }
            }
        }
    }
}

.plan-of-day2 {
    padding-top: 30vh;
    .plan-of-day2__block {
        height: 100vh;
        position: relative;
        .plan-of-day2__images {
            padding-top: 10vh;
            width: 100%;
            height: 20vh;
        }

        .plan-of-day2__square {
            width: 40vw;
            height: 90vh;
            position: absolute;
            left: 50vw;
            bottom: 10vh;
            background-color: rgb(43, 52, 61, 0.7);
            @media  #{$Mobile-max} {
                width: 80vw;
                left: 10vw;
            }
            @media #{$Mobile} {
                width: 80vw;
                left: 10vw;
            }

            .plan-of-day2__inter {
                width: 80%;
                height: 80%;
                margin: 10%;
                border: 3px dotted #FFBD4E;

                .plan-of-day2__square-header {
                    font-size: 3rem;
                    text-align: center;
                    padding-top: 3vh;
    
                }
                .plan-of-day2__square-date {
                    width: 20vw;
                    padding-left: 3vw;
                    .plan-of-day2__square-date-img {
                        width: 3vw;
                    }
                    .plan-of-day2__square-text- {
                        font-size: 1rem;
                    }
                }

                .plan-of-day2__square-text {
                    font-size: 1rem;
                    line-height: 1.8rem;
                    padding-left: 3vw;
                    padding-right: 3vw;
                    font-weight: 200;
                    @media  #{$Mobile-max} {
                        font-size: 0.9rem;
                        line-height: 1rem;
                        }
                        @media #{$Tablet} {
                        font-size: 0.8rem;
                        }
                        @media #{$Mobile} {
                            font-size: 0.9rem;
                            line-height: 1rem;
                        }
                }

                .plan-of-day2__square-list {
                    list-style-image: url('/assets/images/tour-pages/pup.png');
                    font-size: 1rem;
                    line-height: 1rem;
                    padding-left: 4vw;
                }
                .plan-of-day2__square-circle {
                    width: 8vw;
                    height: 14vh;
                    font-size: 1rem;
                    border-radius: 50%;
                    background-color: #FFBD4E;
                    margin-left: 30vw;
                    @media  #{$Mobile-max} {
                        display: none;
                    }
                    @media #{$Tablet} {
                    display: none;
                    }
                    @media #{$Mobile} {
                        display: none;
                    }

                    .plan-of-day2__square-circle-text {
                        padding-left: 2.5vw;
                        padding-top: 1vh;
                    }
                    .plan-of-day2__square-circle-number {
                        font-weight: 700;
                        font-size: 5rem;
                        padding-left: 1vw;
                        padding-top: 1vh;
                    }
                }
            }
        }
    }
}
.plan-of-day3 {
    padding-top: 30vh;
    .plan-of-day3__block {
        height: 100vh;
        position: relative;
        .plan-of-day3__images {
            padding-top: 10vh;
            width: 100%;
            height: 20vh;
        }

        .plan-of-day3__square {
            width: 40vw;
            height: 90vh;
            position: absolute;
            left: 50vw;
            bottom: 10vh;
            background-color: rgb(43, 52, 61, 0.7);
            @media  #{$Mobile-max} {
                width: 80vw;
                left: 10vw;
            }
            @media #{$Mobile} {
                width: 80vw;
                left: 10vw;
            }

            .plan-of-day3__inter {
                width: 80%;
                height: 80%;
                margin: 10%;
                border: 3px dotted #FFBD4E;

                .plan-of-day3__square-header {
                    font-size: 3rem;
                    text-align: center;
                    padding-top: 3vh;
    
                }
                .plan-of-day3__square-date {
                    width: 20vw;
                    padding-left: 3vw;
                    .plan-of-day3__square-date-img {
                        width: 10vw;
                    }
                    .plan-of-day3__square-text- {
                        font-size: 1rem;
                    }
                }

                .plan-of-day3__square-text {
                    font-size: 1rem;
                    line-height: 1.8rem;
                    padding-left: 3vw;
                    padding-right: 3vw;
                    font-weight: 200;
                    @media  #{$Mobile-max} {
                        font-size: 0.9rem;
                        line-height: 1rem;
                        }
                        @media #{$Tablet} {
                        font-size: 0.8rem;
                        }
                        @media #{$Mobile} {
                            font-size: 0.9rem;
                            line-height: 1rem;
                        }
                }

                .plan-of-day3__square-list {
                    list-style-image: url('/assets/images/tour-pages/pup.png');
                    font-size: 1rem;
                    line-height: 1rem;
                    padding-left: 4vw;
                }
                .plan-of-day3__square-circle {
                    width: 8vw;
                    height: 14vh;
                    font-size: 1rem;
                    border-radius: 50%;
                    background-color: #FFBD4E;
                    margin-left: 30vw;
                    @media  #{$Mobile-max} {
                        display: none;
                    }
                    @media #{$Tablet} {
                    display: none;
                    }
                    @media #{$Mobile} {
                        display: none;
                    }

                    .plan-of-day3__square-circle-text {
                        padding-left: 2.5vw;
                        padding-top: 1vh;
                    }
                    .plan-of-day3__square-circle-number {
                        font-weight: 700;
                        font-size: 5rem;
                        padding-left: 1vw;
                        padding-top: 1vh;
                    }
                }
            }
        }
    }
}
.highlight {
    color: #FFBD4E;
}
}

